[submodule "src/libs/LibSL-small"]
	path = src/libs/LibSL-small
	url = https://github.com/sylefeb/LibSL-small.git
[submodule "tools/silice-debugger"]
	path = tools/silice-debugger
	url = https://github.com/shin0bi-y/silice-debugger
